@charset "UTF-8";
body {
    background-color: rgba(0, 0, 0, 0.377);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h1 {
    color: white;
}
h2 {
    color: rgba(255, 0, 0, 0.541)
}